In [314]:
import kagglehub
import pandas as pd
import shutil, os

# Download latest version
path = kagglehub.dataset_download("kevinkonstas/server-load-dataset")
print("Downloaded to:", path)

# Copy to repo
dest_dir = "/Users/manankapoor/Desktop/ai_proj/server-load-and-thermal-data"
os.makedirs(dest_dir, exist_ok=True)
for f in os.listdir(path):
    shutil.copy2(os.path.join(path, f), dest_dir)

# Load the data
df = pd.read_csv(os.path.join(dest_dir, "datacenter_server_overload_dataset.csv"))
print(f"Loaded {df.shape[0]} rows, {df.shape[1]} columns")
df.head()

Downloaded to: /Users/manankapoor/.cache/kagglehub/datasets/kevinkonstas/server-load-dataset/versions/1
Loaded 14400 rows, 13 columns

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,CPU1_Temp_C,CPU2_Temp_C,Inlet_Temp_C,Exhaust_Temp_C,System_Power_W,Avg_Fan_Speed_RPM,Air_Flow_CFM,Voltage_V,Clock_Speed_GHz
0,2024-01-15 00:00:00,NODE_01,11.60,46.38,39.64,40.03,21.61,46.32,214.2,3232.0,25.19,11.988,2.593
1,2024-01-15 00:05:00,NODE_01,12.89,46.04,38.87,39.73,21.17,46.66,207.6,3161.0,26.27,12.025,2.527
2,2024-01-15 00:10:00,NODE_01,14.22,44.57,37.95,39.47,21.40,48.23,220.5,3087.0,23.38,12.013,2.597
3,2024-01-15 00:15:00,NODE_01,12.41,43.79,37.92,39.06,21.35,44.67,221.3,3002.0,24.55,11.906,2.623
4,2024-01-15 00:20:00,NODE_01,10.78,42.60,37.45,38.60,21.42,49.33,217.0,2932.0,23.07,11.995,2.606

In [315]:
df.head(100000)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,CPU1_Temp_C,CPU2_Temp_C,Inlet_Temp_C,Exhaust_Temp_C,System_Power_W,Avg_Fan_Speed_RPM,Air_Flow_CFM,Voltage_V,Clock_Speed_GHz
0,2024-01-15 00:00:00,NODE_01,11.60,46.38,39.64,40.03,21.61,46.32,214.2,3232.0,25.19,11.988,2.593
1,2024-01-15 00:05:00,NODE_01,12.89,46.04,38.87,39.73,21.17,46.66,207.6,3161.0,26.27,12.025,2.527
2,2024-01-15 00:10:00,NODE_01,14.22,44.57,37.95,39.47,21.40,48.23,220.5,3087.0,23.38,12.013,2.597
3,2024-01-15 00:15:00,NODE_01,12.41,43.79,37.92,39.06,21.35,44.67,221.3,3002.0,24.55,11.906,2.623
4,2024-01-15 00:20:00,NODE_01,10.78,42.60,37.45,38.60,21.42,49.33,217.0,2932.0,23.07,11.995,2.606
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14395,2024-01-15 23:35:00,NODE_50,10.08,34.63,35.17,35.22,18.34,42.10,212.2,2543.0,19.10,11.937,2.638
14396,2024-01-15 23:40:00,NODE_50,7.79,34.97,34.94,35.03,18.49,43.12,209.2,2564.0,19.59,11.949,2.550
14397,2024-01-15 23:45:00,NODE_50,10.55,35.01,35.64,34.89,18.46,45.81,227.6,2543.0,18.37,11.925,2.576
14398,2024-01-15 23:50:00,NODE_50,13.70,34.47,36.29,35.30,18.26,43.60,231.0,2509.0,18.43,12.023,2.624
14399,2024-01-15 23:55:00,NODE_50,13.12,35.55,36.46,35.43,18.63,44.45,238.6,2476.0,21.25,12.028,2.602

In [316]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [317]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14400 entries, 0 to 14399
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             14400 non-null  datetime64[ns]
 1   Node_ID               14400 non-null  object
 2   CPU_Utilization_%     14400 non-null  float64
 3   Memory_Utilization_%  14400 non-null  float64
 4   CPU1_Temp_C           14400 non-null  float64
 5   CPU2_Temp_C           14400 non-null  float64
 6   Inlet_Temp_C          14400 non-null  float64
 7   Exhaust_Temp_C        14400 non-null  float64
 8   System_Power_W        14400 non-null  float64
 9   Avg_Fan_Speed_RPM     14400 non-null  float64
 10  Air_Flow_CFM          14400 non-null  float64
 11  Voltage_V             14400 non-null  float64
 12  Clock_Speed_GHz       14400 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 1.4+ MB
None

In [318]:
df = df.sort_values(by=["Node_ID", "Timestamp"])
df = df.reset_index(drop=True)

In [319]:
df.head(200)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,CPU1_Temp_C,CPU2_Temp_C,Inlet_Temp_C,Exhaust_Temp_C,System_Power_W,Avg_Fan_Speed_RPM,Air_Flow_CFM,Voltage_V,Clock_Speed_GHz
0,2024-01-15 00:00:00,NODE_01,11.60,46.38,39.64,40.03,21.61,46.32,214.2,3232.0,25.19,11.988,2.593
1,2024-01-15 00:05:00,NODE_01,12.89,46.04,38.87,39.73,21.17,46.66,207.6,3161.0,26.27,12.025,2.527
2,2024-01-15 00:10:00,NODE_01,14.22,44.57,37.95,39.47,21.40,48.23,220.5,3087.0,23.38,12.013,2.597
3,2024-01-15 00:15:00,NODE_01,12.41,43.79,37.92,39.06,21.35,44.67,221.3,3002.0,24.55,11.906,2.623
4,2024-01-15 00:20:00,NODE_01,10.78,42.60,37.45,38.60,21.42,49.33,217.0,2932.0,23.07,11.995,2.606
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2024-01-15 16:15:00,NODE_01,16.52,42.96,40.42,39.59,21.28,50.75,228.4,2940.0,21.85,11.957,2.589
196,2024-01-15 16:20:00,NODE_01,15.29,42.51,39.82,39.28,21.54,50.45,227.6,2970.0,24.27,11.988,2.609
197,2024-01-15 16:25:00,NODE_01,15.31,42.18,39.64,39.48,21.16,50.28,221.3,2950.0,23.40,11.984,2.621
198,2024-01-15 16:30:00,NODE_01,14.41,41.87,38.81,38.94,21.57,47.27,235.3,2900.0,25.53,12.040,2.651
199,2024-01-15 16:35:00,NODE_01,13.04,41.75,38.45,38.56,21.40,51.00,222.8,2867.0,24.43,11.886,2.571

In [320]:
print(df.isnull().sum())

Timestamp               0
Node_ID                 0
CPU_Utilization_%       0
Memory_Utilization_%    0
CPU1_Temp_C             0
CPU2_Temp_C             0
Inlet_Temp_C            0
Exhaust_Temp_C          0
System_Power_W          0
Avg_Fan_Speed_RPM       0
Air_Flow_CFM            0
Voltage_V               0
Clock_Speed_GHz         0
dtype: int64

In [321]:
cols = df.columns.drop("Node_ID")
df[cols] = df.groupby("Node_ID")[cols].ffill()

In [322]:
cols = df.columns.drop("Node_ID")
df[cols] = df.groupby("Node_ID")[cols].bfill()

In [323]:
print(df.isnull().sum())

Timestamp               0
Node_ID                 0
CPU_Utilization_%       0
Memory_Utilization_%    0
CPU1_Temp_C             0
CPU2_Temp_C             0
Inlet_Temp_C            0
Exhaust_Temp_C          0
System_Power_W          0
Avg_Fan_Speed_RPM       0
Air_Flow_CFM            0
Voltage_V               0
Clock_Speed_GHz         0
dtype: int64

In [324]:
df.head(200)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,CPU1_Temp_C,CPU2_Temp_C,Inlet_Temp_C,Exhaust_Temp_C,System_Power_W,Avg_Fan_Speed_RPM,Air_Flow_CFM,Voltage_V,Clock_Speed_GHz
0,2024-01-15 00:00:00,NODE_01,11.60,46.38,39.64,40.03,21.61,46.32,214.2,3232.0,25.19,11.988,2.593
1,2024-01-15 00:05:00,NODE_01,12.89,46.04,38.87,39.73,21.17,46.66,207.6,3161.0,26.27,12.025,2.527
2,2024-01-15 00:10:00,NODE_01,14.22,44.57,37.95,39.47,21.40,48.23,220.5,3087.0,23.38,12.013,2.597
3,2024-01-15 00:15:00,NODE_01,12.41,43.79,37.92,39.06,21.35,44.67,221.3,3002.0,24.55,11.906,2.623
4,2024-01-15 00:20:00,NODE_01,10.78,42.60,37.45,38.60,21.42,49.33,217.0,2932.0,23.07,11.995,2.606
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2024-01-15 16:15:00,NODE_01,16.52,42.96,40.42,39.59,21.28,50.75,228.4,2940.0,21.85,11.957,2.589
196,2024-01-15 16:20:00,NODE_01,15.29,42.51,39.82,39.28,21.54,50.45,227.6,2970.0,24.27,11.988,2.609
197,2024-01-15 16:25:00,NODE_01,15.31,42.18,39.64,39.48,21.16,50.28,221.3,2950.0,23.40,11.984,2.621
198,2024-01-15 16:30:00,NODE_01,14.41,41.87,38.81,38.94,21.57,47.27,235.3,2900.0,25.53,12.040,2.651
199,2024-01-15 16:35:00,NODE_01,13.04,41.75,38.45,38.56,21.40,51.00,222.8,2867.0,24.43,11.886,2.571

In [325]:
df = df[df["CPU_Utilization_%"] >= 0]

In [326]:
df = df[df["CPU_Utilization_%"] <= 100]

In [327]:
df = df.drop_duplicates()

In [328]:
numeric_cols = df.columns.drop(["Timestamp", "Node_ID"])
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [329]:
print(df.describe())
print(df.isnull().sum())

                 Timestamp  CPU_Utilization_%  Memory_Utilization_%  \
count                14400       14400.000000          14400.000000
mean   2024-01-15 11:57:30          40.677201             50.336459
min    2024-01-15 00:00:00           2.000000             28.490000
25%    2024-01-15 05:58:45          17.417500             39.750000
50%    2024-01-15 11:57:30          30.925000             47.380000
75%    2024-01-15 17:56:15          65.462500             61.050000
max    2024-01-15 23:55:00          99.000000             76.990000
std                    NaN          27.664753             12.130333

        CPU1_Temp_C   CPU2_Temp_C  Inlet_Temp_C  Exhaust_Temp_C  \
count  14400.000000  14400.000000  14400.000000    14400.000000
mean      50.346062     50.832315     19.778173       61.373628
min       31.480000     31.710000     17.450000       38.370000
25%       39.060000     39.660000     18.910000       49.180000
50%       46.345000     46.690000     19.530000       56.900000
75%       61.732500     62.250000     20.640000       73.910000
max       78.190000     78.420000     22.620000       93.670000
std       13.066254     13.053846      1.129082       14.489620

       System_Power_W  Avg_Fan_Speed_RPM  Air_Flow_CFM     Voltage_V  \
count    14400.000000       14400.000000  14400.000000  14400.000000
mean       324.482139        3629.726875     29.038706     12.000199
min        160.200000        2078.000000     14.660000     11.814000
25%        250.000000        2773.000000     22.230000     11.966000
50%        295.700000        3336.000000     26.670000     12.000000
75%        399.000000        4479.250000     35.870000     12.034000
max        600.300000        5771.000000     47.590000     12.175000
std         95.069401         991.014001      7.995127      0.049756

       Clock_Speed_GHz
count     14400.000000
mean          2.825248
min           2.448000
25%           2.640000
50%           2.749000
75%           3.023000
max           3.338000
std           0.222942
Timestamp               0
Node_ID                 0
CPU_Utilization_%       0
Memory_Utilization_%    0
CPU1_Temp_C             0
CPU2_Temp_C             0
Inlet_Temp_C            0
Exhaust_Temp_C          0
System_Power_W          0
Avg_Fan_Speed_RPM       0
Air_Flow_CFM            0
Voltage_V               0
Clock_Speed_GHz         0
dtype: int64

In [330]:
print(df["Timestamp"].dtype)

datetime64[ns]

In [331]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"], errors="coerce")

In [332]:
print(df["Timestamp"].dtype)

datetime64[ns]

In [333]:
df["hour"] = df["Timestamp"].dt.hour
df["day_of_week"] = df["Timestamp"].dt.dayofweek

In [334]:
print(df["Timestamp"].isnull().sum())

0

In [335]:
df.head(10)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,CPU1_Temp_C,CPU2_Temp_C,Inlet_Temp_C,Exhaust_Temp_C,System_Power_W,Avg_Fan_Speed_RPM,Air_Flow_CFM,Voltage_V,Clock_Speed_GHz,hour,day_of_week
0,2024-01-15 00:00:00,NODE_01,11.60,46.38,39.64,40.03,21.61,46.32,214.2,3232.0,25.19,11.988,2.593,0,0
1,2024-01-15 00:05:00,NODE_01,12.89,46.04,38.87,39.73,21.17,46.66,207.6,3161.0,26.27,12.025,2.527,0,0
2,2024-01-15 00:10:00,NODE_01,14.22,44.57,37.95,39.47,21.40,48.23,220.5,3087.0,23.38,12.013,2.597,0,0
3,2024-01-15 00:15:00,NODE_01,12.41,43.79,37.92,39.06,21.35,44.67,221.3,3002.0,24.55,11.906,2.623,0,0
4,2024-01-15 00:20:00,NODE_01,10.78,42.60,37.45,38.60,21.42,49.33,217.0,2932.0,23.07,11.995,2.606,0,0
5,2024-01-15 00:25:00,NODE_01,10.87,41.64,37.03,38.49,21.24,44.96,210.2,2852.0,23.75,11.958,2.600,0,0
6,2024-01-15 00:30:00,NODE_01,13.09,41.60,37.12,37.98,21.47,46.70,221.2,2812.0,22.27,11.993,2.546,0,0
7,2024-01-15 00:35:00,NODE_01,10.24,41.58,37.04,37.64,21.12,44.39,213.7,2787.0,23.84,12.023,2.615,0,0
8,2024-01-15 00:40:00,NODE_01,11.40,41.36,36.98,37.48,21.18,44.21,209.2,2781.0,23.18,11.993,2.564,0,0
9,2024-01-15 00:45:00,NODE_01,10.62,41.82,36.74,37.00,21.03,43.79,211.8,2721.0,22.43,12.062,2.565,0,0

#### Target = High Load at T + 10 minutes

In [336]:
HIGH_LOAD_THRESHOLD = 80
df["High_Load"] = (df["CPU_Utilization_%"] > HIGH_LOAD_THRESHOLD).astype(int)

In [337]:
df["High_Load_Future_10min"] = (
    df.groupby("Node_ID")["High_Load"]
      .shift(-2)
)

In [338]:
df = df.dropna(subset=["High_Load_Future_10min"])

In [339]:
df["High_Load_Future_10min"] = df["High_Load_Future_10min"].astype(int)

In [340]:
print(df["High_Load_Future_10min"].value_counts(normalize=True))

High_Load_Future_10min
0    0.842098
1    0.157902
Name: proportion, dtype: float64

In [341]:
print(df[["CPU_Utilization_%", 
          "High_Load", 
          "High_Load_Future_10min"]].head(150))

     CPU_Utilization_%  High_Load  High_Load_Future_10min
0                11.60          0                       0
1                12.89          0                       0
2                14.22          0                       0
3                12.41          0                       0
4                10.78          0                       0
..                 ...        ...                     ...
145              40.97          0                       0
146              39.89          0                       0
147              40.88          0                       0
148              37.79          0                       0
149              35.66          0                       0

[150 rows x 3 columns]

In [342]:
print(df["High_Load_Future_10min"].value_counts(normalize=True))

High_Load_Future_10min
0    0.842098
1    0.157902
Name: proportion, dtype: float64

In [343]:
important_cols = [
    "CPU_Utilization_%",
    "CPU1_Temp_C",
    "CPU2_Temp_C",
    "System_Power_W",
    "Avg_Fan_Speed_RPM"
]

In [344]:
for col in important_cols:
    for lag in [1, 2, 3]:
        df[f"{col}_lag{lag}"] = (
            df.groupby("Node_ID")[col]
              .shift(lag)
        )

In [345]:
for col in important_cols:
    df[f"{col}_roll_mean_3"] = (
        df.groupby("Node_ID")[col]
          .transform(lambda x: x.rolling(3).mean())
    )

In [346]:
for col in important_cols:
    df[f"{col}_roll_std_3"] = (
        df.groupby("Node_ID")[col]
          .transform(lambda x: x.rolling(3).std())
    )

In [347]:
df = df.dropna()

In [348]:
import numpy as np

## Split by Node_ID: train on 80% of nodes, test on unseen nodes
all_nodes = df["Node_ID"].unique()
np.random.seed(42)
np.random.shuffle(all_nodes)

split_idx = int(len(all_nodes) * 0.8)
train_nodes = all_nodes[:split_idx]
test_nodes = all_nodes[split_idx:]

print(f"Train nodes ({len(train_nodes)}): {sorted(train_nodes)}")
print(f"Test nodes ({len(test_nodes)}): {sorted(test_nodes)}")

train_df = df[df["Node_ID"].isin(train_nodes)]
test_df = df[df["Node_ID"].isin(test_nodes)]

drop_cols = [
    "Timestamp",
    "Node_ID",
    "High_Load",
    "High_Load_Future_10min"
]

X_train = train_df.drop(columns=drop_cols)
y_train = train_df["High_Load_Future_10min"]

X_test = test_df.drop(columns=drop_cols)
y_test = test_df["High_Load_Future_10min"]

print(f"\nTrain: {X_train.shape[0]} rows, Test: {X_test.shape[0]} rows")

Train nodes (40): ['NODE_01', 'NODE_02', 'NODE_03', 'NODE_04', 'NODE_05', 'NODE_06', 'NODE_07', 'NODE_09', 'NODE_10', 'NODE_12', 'NODE_13', 'NODE_14', 'NODE_16', 'NODE_17', 'NODE_18', 'NODE_20', 'NODE_22', 'NODE_24', 'NODE_25', 'NODE_26', 'NODE_27', 'NODE_28', 'NODE_30', 'NODE_31', 'NODE_32', 'NODE_33', 'NODE_34', 'NODE_35', 'NODE_36', 'NODE_37', 'NODE_38', 'NODE_40', 'NODE_41', 'NODE_42', 'NODE_44', 'NODE_45', 'NODE_46', 'NODE_47', 'NODE_48', 'NODE_49']
Test nodes (10): ['NODE_08', 'NODE_11', 'NODE_15', 'NODE_19', 'NODE_21', 'NODE_23', 'NODE_29', 'NODE_39', 'NODE_43', 'NODE_50']

Train: 11320 rows, Test: 2830 rows

In [349]:
neg = (y_train == 0).sum()
pos = (y_train == 1).sum()

scale_pos_weight = float(neg / pos)
print(scale_pos_weight)

5.168937329700272

In [350]:
## Save the cleaned data
X_train.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/X_train.csv", index=False)
X_test.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/X_test.csv", index=False)
y_train.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/y_train.csv", index=False)
y_test.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/y_test.csv", index=False)

In [351]:
X_train[X_train["CPU_Utilization_%"] > 80][
    ["CPU_Utilization_%", "CPU_Utilization_%_lag1","CPU_Utilization_%_lag3"]
].head(200)

      CPU_Utilization_%  CPU_Utilization_%_lag1  CPU_Utilization_%_lag3
112               80.17                   78.96                   78.16
113               83.17                   80.17                   77.54
114               85.26                   83.17                   78.96
115               84.35                   85.26                   80.17
116               85.00                   84.35                   83.17
...                 ...                     ...                     ...
1231              82.97                   80.99                   76.70
1232              86.01                   82.97                   77.99
1233              88.09                   86.01                   80.99
1234              87.01                   88.09                   82.97
1235              87.56                   87.01                   86.01

[200 rows x 3 columns]