In [14]:
import pandas as pd

df = pd.read_csv("/Users/manankapoor/Desktop/ai_proj/server-load-and-thermal-data/data.csv")

In [2]:
df.head()

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,Inlet_Temp_C,CPU1_Temp_C,CPU2_Temp_C,Exhaust_Temp_C,CPU_Power_W,Memory_Power_W,System_Power_W,Clock_Speed_GHz,Voltage_V,Avg_Fan_Speed_RPM,Air_Flow_CFM
0,2024-02-01 00:00:00,52,58.9,29.9,17.6,53.200000,52.900000,46.5,106.3,47.3,192.4,2.60,1.180,3637,NaN
1,2024-02-01 00:05:00,15,41.0,32.7,18.8,59.717656,60.233946,43.3,90.3,41.3,164.6,2.31,1.114,3085,NaN
2,2024-02-01 00:10:00,61,9.6,5.2,17.2,32.800000,35.000000,33.0,66.0,37.0,134.8,2.13,1.026,2187,80.0
3,2024-02-01 00:15:00,21,79.8,NaN,20.1,55.500000,53.000000,46.9,132.5,65.2,228.6,2.59,1.180,3750,124.5
4,2024-02-01 00:20:00,24,38.2,25.5,18.3,47.799008,46.400000,41.8,88.5,34.6,149.2,2.37,1.140,3321,127.3

In [3]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             1005 non-null   datetime64[ns]
 1   Node_ID               1005 non-null   int64
 2   CPU_Utilization_%     1005 non-null   float64
 3   Memory_Utilization_%  935 non-null    float64
 4   Inlet_Temp_C          978 non-null    float64
 5   CPU1_Temp_C           1005 non-null   float64
 6   CPU2_Temp_C           1005 non-null   float64
 7   Exhaust_Temp_C        935 non-null    float64
 8   CPU_Power_W           1005 non-null   float64
 9   Memory_Power_W        934 non-null    float64
 10  System_Power_W        1005 non-null   float64
 11  Clock_Speed_GHz       1005 non-null   float64
 12  Voltage_V             955 non-null    float64
 13  Avg_Fan_Speed_RPM     1005 non-null   int64
 14  Air_Flow_CFM          933 non-null    float64
dtypes: datetime64[ns](1), float64(12), int64(2)
memory usage: 117.9 KB
None

In [5]:
df = df.sort_values(by=["Node_ID", "Timestamp"])
df = df.reset_index(drop=True)

In [7]:
df.head(200)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,Inlet_Temp_C,CPU1_Temp_C,CPU2_Temp_C,Exhaust_Temp_C,CPU_Power_W,Memory_Power_W,System_Power_W,Clock_Speed_GHz,Voltage_V,Avg_Fan_Speed_RPM,Air_Flow_CFM
0,2024-02-01 06:15:00,1,64.100000,52.3,18.8,47.400000,47.0,42.6,108.0,55.1,191.6,2.52,1.180,3219,129.5
1,2024-02-01 08:15:00,1,58.594759,38.2,18.1,45.507877,43.8,44.5,114.0,44.7,183.0,2.34,1.128,3325,NaN
2,2024-02-01 08:15:00,1,58.000000,38.2,18.1,45.500000,43.8,44.5,114.0,44.7,183.0,2.34,1.128,3325,NaN
3,2024-02-01 10:55:00,1,2.800000,5.0,17.6,35.200000,35.5,30.0,69.4,NaN,137.6,2.01,0.950,2534,111.0
4,2024-02-01 13:10:00,1,73.200000,40.6,17.8,52.200000,52.6,47.8,118.0,55.5,217.3,2.51,1.180,3616,138.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2024-02-01 03:10:00,14,86.900000,63.3,17.7,58.500000,58.1,53.9,126.3,55.5,220.6,2.60,NaN,4039,132.7
196,2024-02-01 05:00:00,14,42.900000,35.2,18.5,45.900000,50.4,40.9,103.8,41.0,172.3,2.26,NaN,3231,121.6
197,2024-02-01 08:25:00,14,87.800000,60.2,16.9,55.500000,54.1,50.1,124.0,66.6,226.3,2.56,1.180,3783,133.9
198,2024-02-01 19:00:00,14,59.200000,36.4,17.8,49.800000,49.2,44.9,109.9,38.0,186.3,2.54,1.180,3391,117.5
199,2024-02-02 01:35:00,14,60.200000,40.2,18.5,50.400000,51.2,42.8,107.9,54.9,206.3,2.42,1.161,3681,123.8

In [8]:
print(df.isnull().sum())

Timestamp                0
Node_ID                  0
CPU_Utilization_%        0
Memory_Utilization_%    70
Inlet_Temp_C            27
CPU1_Temp_C              0
CPU2_Temp_C              0
Exhaust_Temp_C          70
CPU_Power_W              0
Memory_Power_W          71
System_Power_W           0
Clock_Speed_GHz          0
Voltage_V               50
Avg_Fan_Speed_RPM        0
Air_Flow_CFM            72
dtype: int64

In [15]:
cols = df.columns.drop("Node_ID")
df[cols] = df.groupby("Node_ID")[cols].ffill()

In [16]:
cols = df.columns.drop("Node_ID")
df[cols] = df.groupby("Node_ID")[cols].bfill()

In [17]:
print(df.isnull().sum())

Timestamp               0
Node_ID                 0
CPU_Utilization_%       0
Memory_Utilization_%    0
Inlet_Temp_C            0
CPU1_Temp_C             0
CPU2_Temp_C             0
Exhaust_Temp_C          0
CPU_Power_W             0
Memory_Power_W          0
System_Power_W          0
Clock_Speed_GHz         0
Voltage_V               0
Avg_Fan_Speed_RPM       0
Air_Flow_CFM            0
dtype: int64

In [18]:
df.head(200)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,Inlet_Temp_C,CPU1_Temp_C,CPU2_Temp_C,Exhaust_Temp_C,CPU_Power_W,Memory_Power_W,System_Power_W,Clock_Speed_GHz,Voltage_V,Avg_Fan_Speed_RPM,Air_Flow_CFM
0,2024-02-01 00:00:00,52,58.9,29.9,17.6,53.200000,52.900000,46.5,106.3,47.3,192.4,2.60,1.180,3637,131.6
1,2024-02-01 00:05:00,15,41.0,32.7,18.8,59.717656,60.233946,43.3,90.3,41.3,164.6,2.31,1.114,3085,117.5
2,2024-02-01 00:10:00,61,9.6,5.2,17.2,32.800000,35.000000,33.0,66.0,37.0,134.8,2.13,1.026,2187,80.0
3,2024-02-01 00:15:00,21,79.8,46.7,20.1,55.500000,53.000000,46.9,132.5,65.2,228.6,2.59,1.180,3750,124.5
4,2024-02-01 00:20:00,24,38.2,25.5,18.3,47.799008,46.400000,41.8,88.5,34.6,149.2,2.37,1.140,3321,127.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2024-02-01 16:05:00,50,56.5,35.9,17.9,49.700000,51.000000,43.8,100.5,49.6,178.5,2.45,1.160,3577,129.0
196,2024-02-01 16:10:00,23,14.3,5.6,18.9,37.600000,35.100000,33.6,76.5,37.4,152.6,2.26,1.079,2628,84.6
197,2024-02-01 16:15:00,31,32.8,19.9,17.1,45.499073,44.600000,43.2,88.0,39.4,163.1,2.20,1.116,3392,80.0
198,2024-02-01 16:20:00,42,61.2,43.9,16.2,46.300000,47.800000,42.6,92.8,58.6,178.6,2.38,1.136,3318,126.8
199,2024-02-01 16:25:00,7,55.3,42.7,17.2,52.200000,54.500000,50.4,108.6,48.1,184.2,2.30,1.089,3607,129.0

In [19]:
df = df[df["CPU_Utilization_%"] >= 0]

In [20]:
df = df[df["CPU_Utilization_%"] <= 100]

In [21]:
df = df.drop_duplicates()

In [22]:
numeric_cols = df.columns.drop(["Timestamp"])
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [23]:
print(df.describe())
print(df.isnull().sum())

          Node_ID  CPU_Utilization_%  Memory_Utilization_%  Inlet_Temp_C  \
count  998.000000         998.000000            998.000000    998.000000
mean    35.221443          47.920311             34.456433     17.989980
std     20.520119          23.598200             17.475816      0.803453
min      1.000000           0.369954              5.000000     16.000000
25%     17.000000          30.400000             21.825000     17.500000
50%     35.000000          48.550000             33.400000     18.000000
75%     53.000000          65.575000             45.400000     18.500000
max     70.000000          99.932391             97.707839     20.500000

       CPU1_Temp_C  CPU2_Temp_C  Exhaust_Temp_C  CPU_Power_W  Memory_Power_W  \
count   998.000000   998.000000      998.000000   998.000000      998.000000
mean     47.395139    47.857045       42.441126    99.450962       44.994489
std       7.286001     7.088186        6.395855    21.249555        8.747986
min      28.031905    28.000000       15.018497    55.000000       25.000000
25%      42.600000    42.800000       38.600000    83.850000       39.000000
50%      47.400046    48.000000       42.700000    99.500000       44.800000
75%      52.275000    52.900000       46.975000   114.375000       51.175000
max      67.284761    69.175520       55.000000   159.824070       72.100000

       System_Power_W  Clock_Speed_GHz   Voltage_V  Avg_Fan_Speed_RPM  \
count      998.000000       998.000000  998.000000         998.000000
mean       180.390950         2.342585    1.112604        3320.051102
std         28.497829         0.134608    0.058957         490.460595
min        130.000000         1.990000    0.950000        1820.000000
25%        158.825000         2.250000    1.073000        2983.250000
50%        180.400000         2.340000    1.119000        3328.000000
75%        200.200000         2.440000    1.174000        3642.500000
max        254.221698         2.600000    1.180000        5184.000000

       Air_Flow_CFM
count    998.000000
mean     116.717836
std       16.950420
min       80.000000
25%      104.625000
50%      117.100000
75%      129.175000
max      161.800000
Timestamp               0
Node_ID                 0
CPU_Utilization_%       0
Memory_Utilization_%    0
Inlet_Temp_C            0
CPU1_Temp_C             0
CPU2_Temp_C             0
Exhaust_Temp_C          0
CPU_Power_W             0
Memory_Power_W          0
System_Power_W          0
Clock_Speed_GHz         0
Voltage_V               0
Avg_Fan_Speed_RPM       0
Air_Flow_CFM            0
dtype: int64

In [25]:
print(df["Timestamp"].dtype)

object

In [26]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"], errors="coerce")

In [27]:
print(df["Timestamp"].dtype)

datetime64[ns]

In [28]:
df["hour"] = df["Timestamp"].dt.hour
df["day_of_week"] = df["Timestamp"].dt.dayofweek

In [29]:
print(df["Timestamp"].isnull().sum())

0

In [31]:
df.head(10)

,Timestamp,Node_ID,CPU_Utilization_%,Memory_Utilization_%,Inlet_Temp_C,CPU1_Temp_C,CPU2_Temp_C,Exhaust_Temp_C,CPU_Power_W,Memory_Power_W,System_Power_W,Clock_Speed_GHz,Voltage_V,Avg_Fan_Speed_RPM,Air_Flow_CFM,hour,day_of_week
0,2024-02-01 00:00:00,52,58.9,29.9,17.6,53.200000,52.900000,46.5,106.300000,47.3,192.400000,2.60,1.180,3637,131.6,0,3
1,2024-02-01 00:05:00,15,41.0,32.7,18.8,59.717656,60.233946,43.3,90.300000,41.3,164.600000,2.31,1.114,3085,117.5,0,3
2,2024-02-01 00:10:00,61,9.6,5.2,17.2,32.800000,35.000000,33.0,66.000000,37.0,134.800000,2.13,1.026,2187,80.0,0,3
3,2024-02-01 00:15:00,21,79.8,46.7,20.1,55.500000,53.000000,46.9,132.500000,65.2,228.600000,2.59,1.180,3750,124.5,0,3
4,2024-02-01 00:20:00,24,38.2,25.5,18.3,47.799008,46.400000,41.8,88.500000,34.6,149.200000,2.37,1.140,3321,127.3,0,3
5,2024-02-01 00:25:00,3,23.7,14.2,18.5,35.700000,35.400000,34.9,83.700000,39.1,151.600000,2.25,1.075,2349,92.9,0,3
6,2024-02-01 00:30:00,22,47.1,43.0,17.4,44.000000,45.300000,40.9,100.500000,49.7,178.700000,2.31,1.129,3030,120.0,0,3
7,2024-02-01 00:35:00,53,11.2,7.8,17.9,34.500000,34.200000,32.7,61.200000,37.6,130.000000,2.25,1.060,2305,92.9,0,3
8,2024-02-01 00:40:00,2,49.3,31.6,17.9,49.900000,49.900000,45.5,101.800000,38.7,183.500000,2.36,1.132,3709,130.4,0,3
9,2024-02-01 00:45:00,30,28.7,17.8,19.4,41.100000,41.100000,39.7,150.780253,43.2,221.517716,2.32,1.147,2844,106.4,0,3

#### Target = High Load at T + 30 minutes

In [32]:
HIGH_LOAD_THRESHOLD = 80
df["High_Load"] = (df["CPU_Utilization_%"] > HIGH_LOAD_THRESHOLD).astype(int)

In [33]:
df["High_Load_Future_30min"] = (
    df.groupby("Node_ID")["High_Load"]
      .shift(-6)
)

In [34]:
df = df.dropna(subset=["High_Load_Future_30min"])

In [35]:
df["High_Load_Future_30min"] = df["High_Load_Future_30min"].astype(int)

In [37]:
print(df[["CPU_Utilization_%", 
          "High_Load", 
          "High_Load_Future_30min"]].head(150))

     CPU_Utilization_%  High_Load  High_Load_Future_30min
0                 58.9          0                       0
1                 41.0          0                       1
2                  9.6          0                       0
3                 79.8          0                       0
4                 38.2          0                       0
..                 ...        ...                     ...
147               64.6          0                       0
148               13.0          0                       1
149               42.5          0                       0
150               69.8          0                       0
151               30.8          0                       0

[150 rows x 3 columns]

In [38]:
print(df["High_Load_Future_30min"].value_counts(normalize=True))

High_Load_Future_30min
0    0.884083
1    0.115917
Name: proportion, dtype: float64

In [39]:
important_cols = [
    "CPU_Utilization_%",
    "CPU1_Temp_C",
    "CPU2_Temp_C",
    "System_Power_W",
    "Avg_Fan_Speed_RPM"
]

In [40]:
for col in important_cols:
    for lag in [1, 2, 3]:
        df[f"{col}_lag{lag}"] = (
            df.groupby("Node_ID")[col]
              .shift(lag)
        )

In [41]:
for col in important_cols:
    df[f"{col}_roll_mean_3"] = (
        df.groupby("Node_ID")[col]
          .transform(lambda x: x.rolling(3).mean())
    )

In [42]:
for col in important_cols:
    df[f"{col}_roll_std_3"] = (
        df.groupby("Node_ID")[col]
          .transform(lambda x: x.rolling(3).std())
    )

In [43]:
df = df.dropna()

In [44]:
drop_cols = [
    "Timestamp",
    "High_Load",
    "High_Load_Future_30min"
]

X = df.drop(columns=drop_cols)
y = df["High_Load_Future_30min"]

In [45]:
split_index = int(len(df) * 0.8)

X_train = X.iloc[:split_index]
X_test  = X.iloc[split_index:]

y_train = y.iloc[:split_index]
y_test  = y.iloc[split_index:]

In [47]:
## Save the cleaned data
X_train.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/X_train.csv", index=False)
X_test.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/X_test.csv", index=False)
y_train.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/y_train.csv", index=False)
y_test.to_csv("/Users/manankapoor/Desktop/ai_proj/cleaned_data/y_test.csv", index=False)